<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>ccforum</display-name>

  <servlet>
    <servlet-name>ListThreadServlet</servlet-name>
    <servlet-class>com.codecool.ccforum.api.threads.ListThreadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ListThreadServlet</servlet-name>
    <url-pattern>/api/threads/list</url-pattern>
  </servlet-mapping>

</web-app>
